body {
    font-family: 'Courier New', Courier, monospace;   
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: stretch;
    text-align: center;
}

ul {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    list-style: none;
    gap: 26px;
    margin: 3% 15%;
    padding: 10px 20px;
}

li {
    width: 200px;
    max-width: 100%;
    text-align: center;
}

img {
    max-width: 30%;
    height: auto;
}

h5 {
    margin: 20px;
    font-size: 14pt;
}

a {
    text-decoration: none;
    color: rgb(57, 91, 123);
}

footer {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    height: 50px;
    width: 100%;
    background-color: aliceblue;
    text-align: center;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.button{
    display: flex;
    gap: 16px;
    min-height: 20px;
    min-width: 20%;
    height: 200px;
    width: auto;
    transition: all .67s ease;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}

.hover-grass {
    transform: scale(1.1);
    border-color: #00ff4c;
    box-shadow: 0 0 1rem #00ff4c;
}

.hover-fire {
    transform: scale(1.1);
    border-color: #ff9100;
    box-shadow: 0 0 1rem #ff9100;
}

.hover-water {
    transform: scale(1.1);
    border-color: #00ffff;
    box-shadow: 0 0 1rem #00ffff;
}

.icon{
    max-height: 25px;
    width: auto;
}

#cheatsheet {
    background-color: #f4f4f4;
    min-width: 50%;
}

.header {
    margin-top: 2%;
}

.gitlogo {
    display: flex;
    align-items: center;
    width: 50px;
}